PushHunterNotification/src/main/resources/WSDL/HunterNotification.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.tatacapital.com/HunterNotification/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HunterNotification"
	targetNamespace="http://www.tatacapital.com/HunterNotification/">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.tatacapital.com/HunterNotification/">
			<xsd:element name="hunterNotificationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="notificationInput" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="hunterNotificationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="notificationResult" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="hunterNotificationRequest">
		<wsdl:part element="tns:hunterNotificationRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="hunterNotificationResponse">
		<wsdl:part element="tns:hunterNotificationResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:portType name="HunterNotification">
		<wsdl:operation name="pushHunterNotification">
			<wsdl:input message="tns:hunterNotificationRequest" />
			<wsdl:output message="tns:hunterNotificationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HunterNotificationSOAP"
		type="tns:HunterNotification">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="pushHunterNotification">
			<soap:operation
				soapAction="http://www.tatacapital.com/HunterNotification/pushHunterNotification" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HunterNotification">
		<wsdl:port binding="tns:HunterNotificationSOAP"
			name="HunterNotificationSOAP">
			<soap:address location="http://localhost:9999/webservice/hunter/pushHunterNotification" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
